<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
</head>
<body>
	<div class="login-page">
		<div class="header-section">
			<a href="#"><img src="images/loginlogo.png" alt=""></a>
			<ul class="menu">
				<li><a href="">Home</a></li>
				<li><a href="login">Login</a></li>
				<li><a href="register">Sign up</a></li>
			</ul>
		</div><!--end of header -section-->
		<div class="form-section">
			<div class="container">

			
			</div>
		</div><!--emd of form-section-->
		<div class="footer">
			<p>Copyrights &copy; <a href="#"><strong>Binarytechies 2015</strong></a> - All Rights Reserved</p>
			<ul class="pull-right">
				<li><a href="#">Privacy & Terms</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</div><!--cnd of login-page-->
	
</body>
</html>
