<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css" />
</head>
<body>
	<div class="login-page">
		<div class="header-section">
			<a href="#"><img src="images/loginlogo.png" alt=""></a>
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="register">Sign up</a></li>
			</ul>
		</div><!--end of header -section-->
		<div class="form-section">
			<div class="container">

				<div class="form-inputs">
          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
            <h4 style="color:#F54747;"><strong><%= message %></strong></h4>
          <% } %>
					<h4>Member Area</h4>
          <form id="form-login" class="form-login" action="/" method="post">
						<div class="input-group">
							<input type="text" class="form-control" name="email" placeholder="E-mail ID">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
						<div class="input-group">
							<input type="password" class="form-control" name="password" placeholder="Password">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						</div>

						<input class="polaris-input" type="checkbox" id="inlineCheckbox1" value="option1"> <span class="check-text">Remember me</span>
            <button type="submit" class="btn btn-info pull-right">Sign In</button>
          </form>  
					<h5><a href="#" target="_blank">Forgot Your Password ?</a></h5>
				</div>				
			</div>
		</div><!--emd of form-section-->
		<div class="footer">
			<p>Copyrights &copy; <a href="#"><strong>Binarytechies 2015</strong></a> - All Rights Reserved</p>
			<ul class="pull-right">
				<li><a href="#">Privacy & Terms</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</div><!--cnd of login-page-->
	
</body>
</html>
